.main-header {
    background-color: #fff;
    z-index: 999;
}

.btn {
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 9999px;
    transform: scale(1);
    text-decoration: none;
    transition: .2s ease-in-out;

}

.btn:hover {
    color: hsl(322, 100%, 66%);
    background-color: transparent;
    transform: scale(1.03);
  }

.main-header .btn {
    background-color: transparent;
    color: hsl(322, 100%, 66%);
    transition: .2s ease-in-out;
}

.main-header .btn:hover {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    transform: scale(1.05);
}

.screen-mockups img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .screen-mockups img {
        max-width: 80%;
    }
}

.grow-task {
    background-color: #F6FBFF;
}

.grow-task,
.flow-task,
.users-task {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.grow-task,
.flow-task,
.users-task,
.community,
.main-footer {
    position: relative;
    width: 100%;
    min-height: 500px;
}

.main-footer {
    min-height: 350px;
}

.community:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../images/bg-sections/bg-footer-top-mobile.svg');
    background-size: cover;
    height: 157px;
}

@media only screen and (max-width: 475px) {
    .community:after {
        height: 60px;
    }
}

.task-text {
    margin-top: 1.5rem;
    order: 2;
    width: 100%;
}

.task-img {
    max-width: 350px;
}

@media only screen and (min-width: 768px) {
    .grow-task,
    .flow-task,
    .users-task {
        flex-flow: row;
        text-align: left;
    }
    .task-text {
        order: 0;
        width: 35%;
    }
}

.main-footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
}

.main-footer div:first-child {
    order: 1;
}

.main-footer div:last-child {
    margin-bottom: 4rem;
}

@media only screen and (min-width: 900px) {
    .main-footer div:first-child {
        order: 0;
    }

    .main-footer div:last-child {
        margin-bottom: 0;
    }
}

.main-footer form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    border: none;
    padding: 10px 13px;
    font-size: .9rem;
}

input[type="submit"].btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    margin-left: 0;
    margin-top: 20px;
}

@media only screen and (min-width: 415px) {
    .main-footer form {
        flex-flow: row;
    } 
    
    input[type="submit"].btn {
        margin-left: 15px;
        margin-top: 0;
    }
}

